---
- name: Ensure all required variables are defined before configuring the monitoring system
  assert:
    that:
      - monitoring_email_addresses is defined
      - mysql_root_password is defined
      - monitoring_db_user is defined
      - monitoring_db_name is defined
      - monitoring_db_password is defined
      - monitoring_db_web_user is defined
      - monitoring_db_web_name is defined
      - monitoring_db_web_password is defined
      - icinga_admin_password is defined
      - icinga_salt is defined
      - icinga_api_password is defined
  when: groups['all'] | length() == 1 or inventory_hostname in groups['monitoring']

- name: Add icinga2 key for repository on debian 10
  shell: wget -O - https://packages.icinga.com/icinga.key | apt-key add
  when: ansible_distribution_release == "buster"

- name: Add icinga2 repository for debian 10
  apt_repository:
    repo: deb https://packages.icinga.com/debian icinga-buster main
    state: present
    filename: icinga2
    update_cache: yes
  when: ansible_distribution_release == "buster"

- name: Install Icinga2 and monitoring plugins
  apt: name={{ item }} state=present
  with_items:
    - icinga2
    - monitoring-plugins
    - nagios-plugins-contrib
    - libredis-perl
    - libmonitoring-plugin-perl
    - liblwp-useragent-determined-perl
    - libdbd-mysql-perl
  check_mode: no

- name: Rename plugin dir on debian 10
  command: rm -rf /usr/share/icinga2/include/plugins-contrib.d
  when: ansible_distribution_release == "buster"

- name: Create empty plugin dir on debian 10
  file:
     path: /usr/share/icinga2/include/plugins-contrib.d
     state: directory
     owner: root
     group: root
     mode: 0755
  when: ansible_distribution_release == "buster"

- name: Enable and start the icinga2 daemon
  service: name=icinga2 state=started enabled=true

- name: Install additional icinga plugins
  copy:
    src: "{{ item }}"
    dest: /usr/lib/nagios/plugins
    mode: 0755
  with_fileglob:
    - "files/checks/*"

- name: Configure Icinga2 commands
  copy: src=commands.conf dest=/etc/icinga2/conf.d
  notify: restart icinga2

- name: Ensure sudo is installed
  apt:
    pkg: sudo
    state: present

- name: Set sudo escalation for icinga plugins
  lineinfile:
    dest: /etc/sudoers
    line: "nagios ALL=(root) NOPASSWD: /usr/lib/nagios/plugins/"
    state: present
    validate: '/usr/sbin/visudo -cf %s'

- name: Configure Icinga NodeName
  lineinfile:
    dest: /etc/icinga2/constants.conf
    regexp: "^//const NodeName = \"localhost\"$"
    line: "const NodeName = \"{{ inventory_hostname }}\""
    backrefs: yes
  notify: restart icinga2

- name: Fix Icinga PKI directory permissions
  file: dest=/etc/icinga2/pki owner=nagios group=nagios mode=0750

- include: "database-configuration.yml"
  when: mysql_root_password is defined

- include: "master.yml"
  when: groups['all'] | length() == 1 or inventory_hostname in groups['monitoring']

- include: "client.yml"


