description "Teamwire {{ item }} container"
start on filesystem and started docker
start on started redis-server
start on started mysql
stop on runlevel [!2345]
respawn
script
  /usr/bin/docker start -a teamwire_{{ item }}
end script
