.DS_Store
.vagrant/
packer/*.box
packer/teamwire-server-*.tar.*
packer/teamwire-server.ova
packer/packer_cache/
packer/output-teamwire-server*
ansible/group_vars/*
!ansible/group_vars/*.example
**/*.retry
ansible/playbooks/procedures/debian.cnf
*.pyc
.gitlab/*
.local
ansible/ansible.log
