{% raw -%}
# Backend
{{ if service "backend" }}
upstream teamwire_backend {
	# fail_timeout=0 means we always retry an upstream even if it failed
	# to return a good HTTP response.
	least_conn;
	{{- range service "backend"}}
	server {{.Address}}:{{.Port}} fail_timeout=0;
	{{- end}}
}{{ end }}

# Notification Server
{{ if service "notification-server-9080" }}
upstream teamwire_notification_server {
	{{- range service "notification-server-9080"}}
	server {{.Address}}:{{.Port}};
	{{- end}}
}{{ end }}

# Web Screenshot Server
{{ if service "web-screenshot-server" }}
upstream teamwire_screenshot_server {
	least_conn;
	{{- range service "web-screenshot-server"}}
	server {{.Address}}:{{.Port}};
	{{- end}}
}{{ end }}

{% endraw %}
{% if ssl_keyfile is defined %}
server {
	listen 443 ssl default_server;
	server_name _;
	ssl_certificate /etc/ssl/private/server_and_intermediate_and_root.crt;
	ssl_certificate_key /etc/ssl/private/teamwire-backend.key;
{% if ssl_intermediate_certificate is defined and ssl_root_certificate is defined %}
	ssl_trusted_certificate /etc/ssl/private/intermediate_and_root.crt;
{% endif %}
	ssl_dhparam /etc/ssl/private/dhparams.pem;
	return 404;
}
server {
	listen 443 ssl;

	ssl_certificate /etc/ssl/private/server_and_intermediate_and_root.crt;
	ssl_certificate_key /etc/ssl/private/teamwire-backend.key;
{% if ssl_intermediate_certificate is defined and ssl_root_certificate is defined %}
	ssl_trusted_certificate /etc/ssl/private/intermediate_and_root.crt;
{% endif %}
	ssl_dhparam /etc/ssl/private/dhparams.pem;
{% else %}
server {
	listen 80 default_server;
	server_name _;
	return 404;
}
server {
	listen 80;
{% endif %}
{% if frontend_proxy is defined %}

{% if frontend_proxy is string %}
	set_real_ip_from {{ frontend_proxy }};
{% else %}
{% for proxy in frontend_proxy %}
	set_real_ip_from {{ proxy }};
{% endfor %}
{% endif %}
	real_ip_header X-Forwarded-For;
	real_ip_recursive on;
{% endif %}
	client_max_body_size 256M;
	server_name {{ external_hostname }};
	keepalive_timeout 10;

	proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
	proxy_set_header Host $http_host;
	proxy_set_header X-Forwarded-Proto $scheme;
	proxy_redirect off;
	proxy_buffering off;
	proxy_read_timeout 180;

	# The notification server
	location /notifications/ {
		{% raw %}{{ if service "notification-server-9080" }}proxy_pass http://teamwire_notification_server/;{{ else }}return 503;{{ end }}{% endraw %}

		proxy_http_version 1.1;
		proxy_set_header Upgrade $http_upgrade;
		proxy_set_header Connection "upgrade";
		proxy_hide_header X-Powered-By;
	}

	# The web screenshot service
	location /web-screenshot/ {
		{% raw %}{{ if service "web-screenshot-server" }}proxy_pass http://teamwire_screenshot_server/;{{ else }}return 503;{{ end }}{% endraw %}

	}

{% if admin_ip_ranges is defined %}
	location ~ ^/(dashboard|admin)/? {
{% for range in admin_ip_ranges %}
		allow {{ range }};
{% endfor %}
		deny all;

		{% raw %}{{ if service "backend" }}proxy_pass http://teamwire_backend;{{ else }}return 503;{{ end }}{% endraw %}
	}

{% endif %}
	location / {
		{% raw %}{{ if service "backend" }}proxy_pass http://teamwire_backend;{{ else }}return 503;{{ end }}{% endraw %}
	}
}
