# HTTPS server
#

server {
	listen 443 ssl default_server;
	server_name _;
	ssl_certificate /etc/ssl/private/server_and_intermediate_and_root.crt;
	ssl_certificate_key /etc/ssl/private/teamwire-backend.key;
{% if ssl_intermediate_certificate is defined and ssl_root_certificate is defined %}
	ssl_trusted_certificate /etc/ssl/private/intermediate_and_root.crt;
{% endif %}
	ssl_dhparam /etc/ssl/private/dhparams.pem;
	return 404;
}
server {
	listen 443;
	listen [::]:443 ipv6only=on;

	ssl on;
	ssl_certificate /etc/ssl/private/server_and_intermediate_and_root.crt;
	ssl_certificate_key /etc/ssl/private/teamwire-backend.key;
{% if ssl_intermediate_certificate is defined and ssl_root_certificate is defined %}
	ssl_trusted_certificate /etc/ssl/private/intermediate_and_root.crt;
{% endif %}

	ssl_dhparam /etc/ssl/private/dhparams.pem;

	{% include 'teamwire-backend-common.j2' with context %}
}
