	client_max_body_size 256M;
	server_name _;

	keepalive_timeout 5;

{% if frontend_proxy is defined %}
	set_real_ip_from {{ frontend_proxy }};
	real_ip_header X-Forwarded-For;
	real_ip_recursive on;

{% endif %}

	proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
	proxy_set_header X-Forwarded-Proto $scheme;
	proxy_set_header Host $http_host;
	proxy_buffering off;
	# we don't want nginx trying to do something clever with
	# redirects, we set the Host: header above already.
	proxy_redirect off;

	# The notification server
	location /notifications/ {
		proxy_pass http://teamwire_notification_server/;
		proxy_http_version 1.1;
		proxy_set_header Upgrade $http_upgrade;
		proxy_set_header Connection "upgrade";
		proxy_hide_header X-Powered-By;
	}

	# The web screenshot service
	location /web-screenshot/ {
		proxy_pass http://teamwire_screenshot_server/;
		proxy_read_timeout 180;
	}

{% if admin_ip_ranges is defined %}
	location ~ ^/(dashboard|admin)/ {
{% for range in admin_ip_ranges %}
		allow {{ range }};
{% endfor %}
		deny all;

		proxy_pass http://teamwire_backend;
	}

{% endif %}
	location / {
		proxy_pass http://teamwire_backend;
	}
