job "teamwire-proxysql" {
  datacenters = ["dc1"]
  type        = "service"
  priority    = 90

  update {
    max_parallel = 1
    stagger      = "30s"
    auto_revert  = true
    canary       = 0
  }

  vault {
    policies    = ["nomad-job"]
    change_mode = "restart"
  }

  group "proxysql_backend" {
    count = {{ groups['backend_servers'] | difference(groups['management_servers']) | length }}

    constraint {
      attribute = "${meta.groups}"
      operator  = "regexp"
      value     = "proxysql_backend"
    }

    constraint {
      operator = "distinct_hosts"
      value    = "true"
    }

    restart {
      interval = "5m"
      attempts = 10
      delay    = "25s"
      mode     = "delay"
    }

    network {
      mode = "host"
      port "mysql" { static = 3308 }
      port "admin" { static = 6032 }
    }

    task "proxysql" {
      driver = "docker"

      config {
        image = "{{ local_registry | default() }}{{ ansible_local.general_facts.proxysql.container }}"
        auth {
          username = "{{ docker_registry_username }}"
          password = "{{ docker_registry_password }}"
        }
        network_mode = "host"
        logging {
          type = "syslog"
          config {
            tag             = "teamwire-proxysql"
            syslog-facility = "local6"
          }
        }
        volumes = [
          "/data/proxysql/proxysql.cnf:/etc/proxysql.cnf"
        ]
      }

      service {
        name = "tw-proxysql"
        port = "mysql"
        tags = ["proxysql", "mysql"]
        check {
          name     = "ProxySQL Traffic Port Alive"
          type     = "tcp"
          port     = "mysql"
          interval = "10s"
          timeout  = "2s"
        }
      }

      service {
        name = "tw-proxysql-admin"
        port = "admin"
        tags = ["proxysql", "admin"]
      }

      resources {
        cpu    = {{ proxysql_cpu_alloc | default(100) }}
        memory = {{ ((proxysql_ram_alloc | int, 256)| max) }}
      }
    }
  }

  group "proxysql_management" {
    count = 1  

    constraint {
      attribute = "${meta.groups}"
      operator  = "regexp"
      value     = "proxysql_management"
    }

    restart {
      interval = "5m"
      attempts = 10
      delay    = "25s"
      mode     = "delay"
    }

    network {
      mode = "host"
      port "mysql" { static = 3308 }
      port "admin" { static = 6032 }
    }

    task "proxysql" {
      driver = "docker"

      config {
        image = "{{ local_registry | default() }}{{ ansible_local.general_facts.proxysql.container }}"
        auth {
          username = "{{ docker_registry_username }}"
          password = "{{ docker_registry_password }}"
        }
        network_mode = "host"
        logging {
          type = "syslog"
          config {
            tag             = "teamwire-proxysql"
            syslog-facility = "local6"
          }
        }
        volumes = [
          {% if inventory_hostname in groups['backend_servers'] and inventory_hostname in groups['management_servers'] %}
          "/data/proxysql/proxysql.cnf:/etc/proxysql.cnf"
          {% else %}
          "/data/proxysql/proxysql_manager.cnf:/etc/proxysql.cnf"
          {% endif %}
        ]

      }

      service {
        name = "tw-proxysql"
        port = "mysql"
        tags = ["proxysql", "mysql"]
        check {
          name     = "ProxySQL Traffic Port Alive"
          type     = "tcp"
          port     = "mysql"
          interval = "10s"
          timeout  = "2s"
        }
      }

      service {
        name = "tw-proxysql-admin"
        port = "admin"
        tags = ["proxysql", "admin"]
      }

      resources {
        cpu    = {{ proxysql_cpu_alloc | default(100) }}
        memory = {{ ((proxysql_ram_alloc | int, 256)| max) }}
        memory_max = {{ proxysql_mgm_alloc| default( [proxysql_ram_alloc|int ,256 ] | max * 1.5 ) | int}}
      }  
    }
  }
}
