---
- name: Fail if system_email_recipient is not defined
  fail:
    msg: The Variable 'system_email_recipient' must be defined in group_vars/all
  when: config_done is defined and system_email_recipient is not defined

- name: Install Postfix
  apt: pkg=postfix

- name: Write the Postfix configuration file
  template: src=postfix-main.cf.j2 dest=/etc/postfix/main.cf
  when: config_done is defined
  notify: restart postfix

- name: Write the Postfix password file
  template:
    src: postfix-passwd.j2
    dest: /etc/postfix/sasl/passwd
    mode: 0600
  when: config_done is defined and smtp_smartpass is defined
  notify: rebuild postfix passwd map

- name: Setup aliases
  lineinfile:
      path: "/etc/aliases"
      regexp: "^root:"
      line: "root{{':'}} {{ system_email_recipient }}"
      insertafter: EOF
      state: present
  notify:
      - new aliases
      - restart postfix
  when: system_email_recipient is defined

- name: Ensure postfix virtualmap is absent
  file:
     path: "{{ item }}"
     state: absent
  with_items:
     - /etc/postfix/virtual
     - /etc/postfix/virtual.db

- name: Give root a speaking name
  when: config_done is defined
  user: name=root comment="root@{{ external_hostname }}"
