[galera]
wsrep_on=ON
wsrep_provider=/usr/lib/galera/libgalera_smm.so
wsrep_cluster_name="teamwire"
wsrep_cluster_address="gcomm://{% for host in groups['database_servers'] %}{{ hostvars[host].private_ip }}{{"," if not loop.last else ""}}{% endfor %}"
wsrep_sst_method=mariabackup{{ '\n' -}}
wsrep_sst_auth=mariabackup:{{ xtrabackup_password }}
wsrep_node_address="{{ private_ip }}"
wsrep_node_name="{{ inventory_hostname }}"

binlog_format=row
default_storage_engine=InnoDB
innodb_autoinc_lock_mode=2
innodb_flush_log_at_trx_commit=0
query_cache_type=0
query_cache_size=0
