# MaxScale documentation:
# https://mariadb.com/kb/en/mariadb-maxscale-6/

# Global parameters
#
# Complete list of configuration options:
# https://mariadb.com/kb/en/mariadb-maxscale-6-maiadb-maxscale-configuration-guide/

[maxscale]
threads=auto
admin_enabled={{ mysql_tls_admin_enabled | default('true') | lower }}
query_retries=0
skip_permission_checks=true

# ------------------------------------------------------------------------------
# Server Definition
# ------------------------------------------------------------------------------
{% for host in groups['database_servers'] | sort %}
[{{ host }}]
type=server
address={{ hostvars[host].private_ip }}
port=3306
protocol=MariaDBBackend
{% if enable_tls_mysql is defined and enable_tls_mysql | lower == "true" %}
ssl=true
{% endif %}

{% endfor %}

# ------------------------------------------------------------------------------
# Monitor Definition
# ------------------------------------------------------------------------------
[monitor]
type=monitor
module=galeramon
servers={% for host in groups['database_servers'] | sort %}{{ host }}{% if not loop.last %}, {% endif %}{% endfor %}

user=maxscale_monitor
password={{ ansible_local.maxscale.monitor_password_hash }}
monitor_interval=2s

# ------------------------------------------------------------------------------
# Service Definition
# ------------------------------------------------------------------------------
[rw-service]
type=service
router={{ 'readwritesplit' if inventory_hostname not in groups.backend_servers else 'readconnroute' }}
{% if inventory_hostname not in groups.backend_servers %}
max_slave_connections=0
{% endif %}
{% if inventory_hostname in groups.backend_servers %}
router_options=synced
{% endif %}
servers={% for host in groups['database_servers'] | sort %}{{ host }}{% if not loop.last %}, {% endif %}{% endfor %}

user=maxscale
password={{ ansible_local.maxscale.password_hash }}
localhost_match_wildcard_host=true

# ------------------------------------------------------------------------------
# Listener Definition
# ------------------------------------------------------------------------------
[localhost-listener]
type=listener
service=rw-service
protocol=MariaDBClient
address=127.0.0.1
port=3307
