---
- name: Run the Teamwire voip web container
  community.docker.docker_container:
    name: teamwire_web
    image: "{{ 'harbor.teamwire.eu/' if use_teamwire_registry | default('true') | bool }}{{ VOIP_CONTAINER_WEB }}:{{ VOIP_JITSI_VERSION }}"
    state: started
    restart_policy: always
    network_mode: host
    log_driver: "syslog"
    log_opt:
      tag: teamwire-web
      syslog-facility: "local6"
    env:
      ENABLE_XMPP_WEBSOCKET: "0"
      EXTERNAL_HOSTNAME: "{{ external_hostname | first if external_hostname | first | length() > 1 else external_hostname }}"
      TZ: "UTC"
      XMPP_AUTH_DOMAIN: "auth.meet.jitsi"
      XMPP_BOSH_URL_BASE: "http://{{ 'prosody.service.consul' if groups['all'] | length > 1 else 'xmpp.meet.jitsi' }}:5280"
      XMPP_DOMAIN: "meet.jitsi"
      XMPP_GUEST_DOMAIN: "guest.meet.jitsi"
      XMPP_MUC_DOMAIN: "muc.meet.jitsi"
      XMPP_RECORDER_DOMAIN: "recorder.meet.jitsi"
      ENABLE_AUTH: "1"
      ENABLE_GUESTS: "0"
      S6_BEHAVIOUR_IF_STAGE2_FAILS: "2"
  when: config_done is defined

- name: Run the Teamwire voip prosody container
  community.docker.docker_container:
    name: teamwire_prosody
    image: "{{ 'harbor.teamwire.eu/' if use_teamwire_registry | default('true') | bool }}{{ VOIP_CONTAINER_PROSODY }}:{{ VOIP_JITSI_VERSION }}"
    state: started
    restart_policy: always
    network_mode: host
    volumes:
      - "{{ VOIP_ROOT_PATH }}/prosody/config:/config:Z"
      - "{{ VOIP_ROOT_PATH }}/prosody/prosody-plugins-custom:/prosody-plugins-custom:Z"
    log_driver: "syslog"
    log_opt:
      tag: teamwire-prosody
      syslog-facility: "local6"
    env:
      EXTERNAL_HOSTNAME: "{{ external_hostname | first if external_hostname | first | length() > 1 else external_hostname }}"
      JVB_AUTH_PASSWORD: "{{ voip_jvb_password }}"
      JIBRI_XMPP_PASSWORD: "{{ voip_jibri_password }}"
      JICOFO_AUTH_PASSWORD: "{{ voip_jicofo_password }}"
      ENABLE_XMPP_WEBSOCKET: "0"
      XMPP_DOMAIN: "meet.jitsi"
      XMPP_AUTH_DOMAIN: "auth.meet.jitsi"
      XMPP_GUEST_DOMAIN: "guest.meet.jitsi"
      XMPP_MUC_DOMAIN: "muc.meet.jitsi"
      XMPP_INTERNAL_MUC_DOMAIN: "internal-muc.meet.jitsi"
      XMPP_MODULES: ""
      XMPP_MUC_MODULES: "tw_backend"
      XMPP_INTERNAL_MUC_MODULES: ""
      XMPP_RECORDER_DOMAIN: "recorder.meet.jitsi"
      ENABLE_AUTH: "1"
      ENABLE_GUESTS: "0"
      AUTH_TYPE: "jwt"
      JWT_TOKEN_AUTH_MODULE: "token_verification"
      JWT_APP_ID: "teamwire"
      JWT_APP_SECRET: "{{ jwt_app_secret }}"
      PROSODY_KEY: "{{ prosody_key }}"
      JWT_ALLOW_EMPTY: "0"
      JICOFO_AUTH_USER: "focus"
      JVB_AUTH_USER: "jvb0"
      JIBRI_XMPP_USER: "jibri"
      TZ: "UTC"
      S6_BEHAVIOUR_IF_STAGE2_FAILS: "2"
      TURN_CREDENTIALS: "{{ stun_password if enable_stun is defined and enable_stun | string() == 'true'  |default() }}"
      TURNS_HOST: "{{ stun_hostname if enable_stun is defined and enable_stun | string() == 'true' |default() }}"
      TURNS_PORT: "{{ voip_turn_port if enable_stun is defined and enable_stun | string() == 'true' |default() }}"
  when: config_done is defined

- name: Run the Teamwire voip jicofo container
  community.docker.docker_container:
    name: teamwire_jicofo
    image: "{{ 'harbor.teamwire.eu/' if use_teamwire_registry | default('true') | bool }}{{ VOIP_CONTAINER_JICOFO }}:{{ VOIP_JITSI_VERSION }}"
    state: started
    restart_policy: always
    network_mode: host
    volumes:
      - "{{ VOIP_ROOT_PATH }}/jicofo:/config:Z"
    log_driver: "syslog"
    log_opt:
      tag: teamwire-jicofo
      syslog-facility: "local6"
    env:
      EXTERNAL_HOSTNAME: "{{ external_hostname | first if external_hostname | first | length() > 1 else external_hostname }}"
      JVB_AUTH_PASSWORD: "{{ voip_jvb_password }}"
      JICOFO_AUTH_PASSWORD: "{{ voip_jicofo_password }}"
      JICOFO_AUTH_USER: "focus"
      JIBRI_BREWERY_MUC: "jibribrewery"
      JIBRI_PENDING_TIMEOUT: "90"
      JIGASI_BREWERY_MUC: "jigasibrewery"
      JVB_BREWERY_MUC: "jvbbrewery"
      TZ: "UTC"
      XMPP_DOMAIN: "meet.jitsi"
      XMPP_AUTH_DOMAIN: "auth.meet.jitsi"
      XMPP_INTERNAL_MUC_DOMAIN: "internal-muc.meet.jitsi"
      XMPP_MUC_DOMAIN: "muc.meet.jitsi"
      XMPP_SERVER: "xmpp.meet.jitsi"
      ENABLE_AUTH: "1"
      AUTH_TYPE: "jwt"
      S6_BEHAVIOUR_IF_STAGE2_FAILS: "2"
  when: config_done is defined

- name: Run the Teamwire voip video bridge container
  community.docker.docker_container:
    name: teamwire_jvb
    image: "{{ 'harbor.teamwire.eu/' if use_teamwire_registry | default('true') | bool }}{{ VOIP_CONTAINER_JVB }}:{{ VOIP_JITSI_VERSION }}"
    state: started
    restart_policy: always
    network_mode: host
    log_driver: "syslog"
    log_opt:
      tag: teamwire-jvb
      syslog-facility: "local6"
    env:
      EXTERNAL_HOSTNAME: "{{ external_hostname | first if external_hostname | first | length() > 1 else external_hostname }}"
      JVB_AUTH_PASSWORD: "{{ voip_jvb_password }}"
      XMPP_AUTH_DOMAIN: "auth.meet.jitsi"
      XMPP_INTERNAL_MUC_DOMAIN: "internal-muc.meet.jitsi"
      XMPP_SERVER: "xmpp.meet.jitsi"
      JVB_AUTH_USER: "jvb0"
      JVB_BREWERY_MUC: "jvbbrewery"
      JVB_PORT: "10000"
      JVB_TCP_HARVESTER_DISABLED: "false"
      JVB_TCP_PORT: "4443"
      JVB_TCP_MAPPED_PORT: "4443"
      JVB_STUN_SERVERS: "{{ stun_hostname + ':' + voip_turn_port if enable_stun is defined and enable_stun | string() == 'true' else 'meet-jit-si-turnrelay.jitsi.net:443' }}"
      TZ: "UTC"
      S6_BEHAVIOUR_IF_STAGE2_FAILS: "2"
      ENABLE_COLIBRI_WEBSOCKET: "1"
      PUBLIC_URL: "https://{{ external_hostname | first if external_hostname | first | length() > 1 else external_hostname }}:8443"
      JVB_WS_SERVER_ID: "127.0.0.1"
  when: config_done is defined

- name: Run the Teamwire turn container
  community.docker.docker_container:
    name: teamwire_turn
    image: "{{ 'harbor.teamwire.eu/' if use_teamwire_registry | default('true') | bool }}{{ VOIP_CONTAINER_TURN }}:{{ VOIP_JITSI_VERSION }}"
    state: started
    restart_policy: always
    network_mode: host
    volumes:
      - "{{ VOIP_ROOT_PATH }}/turn/config:/etc/coturn:Z"
      - "turnvol:/data"
    log_driver: "syslog"
    log_opt:
      tag: teamwire-turn
      syslog-facility: "local6"
  when:
    - enable_stun is defined
    - enable_stun | string() == 'true'
    - config_done is defined