- name: Allow voip video bridge port in voip_servers.
  community.general.ufw:
    rule: allow
    port: "10000"
    proto: any
  when:
    - enable_jvb_cluster is not defined or enable_jvb_cluster | lower != 'true'
    - inventory_hostname in groups["voip_servers"]

- name: Allow voip video bridge port in backend_servers.
  community.general.ufw:
    rule: allow
    port: "10000"
    proto: any
  when:
    - enable_jvb_cluster is defined
    - enable_jvb_cluster | lower == 'true'
    - inventory_hostname in groups["backend_servers"]

- name: Allow voip video bridge port in video_servers.
  community.general.ufw:
    rule: allow
    port: "10000"
    proto: any
  when:
    - enable_jvb_cluster is defined
    - enable_jvb_cluster | lower == 'true'
    - groups["video_servers"] is defined
    - inventory_hostname in groups["video_servers"]

- name: Copy tw_prosodyctl script.
  ansible.builtin.template:
    src: tw_prosodyctl.j2
    dest: /usr/local/bin/tw_prosodyctl
    mode: 0755
    owner: root
    group: root
  when: groups['all'] | length > 1

- name: "Add turns Firewall Rule allow {{ voip_turn_port }}"
  community.general.ufw:
    rule: allow
    port: "{{ voip_turn_port }}"
    proto: any
  when:
    - enable_stun is defined
    - enable_stun | string() == 'true'
    - inventory_hostname in groups["voip_servers"]
