---
# Copy this file to "all" and add values for the parameters.
#
# Please leave a space after the colon (:) as in the preconfigured values.
# When a value contains a colon (:), it must be enclosed in double quotes.
#
# To activate an optional configuration values, uncomment the line by removing
# the hash (#) in front of the parameter.

# Uncomment the following line when you are finished setting all configuration
# items, only then the configuration can be performed.
# config_done: true

# Insert your Docker Hub credentials below
dockerhub_username:
dockerhub_email:

# The external fully qualified host name under which the clients can access
# this server, e.g. "teamwire.example.com"
external_hostname:

# Uncomment the following line if you want to disable SSH logins with passwords.
# Make sure to test your SSH keys first, otherwise this you might lock yourself
# out of the server.
# ssh_disable_passwords: True

# If you need a proxy for outgoing connections, you can uncomment the following
# line and adapt it to your environment. The proxy server must also support
# HTTPS.
# http_proxy: "http://your.proxy:3128"

# If you use one or multiple frontend proxy servers for incoming connections,
# please sepcify their IP addresses here, otherwise the access logs will only
# show the proxy addresses.
# frontend_proxy:
#   - 10.0.10.121
#   - 10.0.10.122

# If you need to restrict access to the Admin Portal, list IP addresses or
# ranges here, following the format given in the examples. When nothing is
# specified, access to the Admin Portal is not restricted.
# admin_ip_ranges:
#   - 192.168.10.127
#   - 10.0.10.0/24

# If you need to restrict access to the web client, list IP addresses or
# ranges here, following the format given in the examples. When nothing is
# specified, access to the web client is not restricted.If you want to completely
# forbid access to the web client, then comment out only the line with webclient_ip_range
# webclient_ip_ranges:
#   - 192.168.10.127
#   - 10.0.10.0/24

# Custom NTP servers.
# The servers listed below are used per default. Uncomment the entire structure
# and keep the indentation of two spaces when changing the server names.
# ntp_servers:
#   - ptbtime1.ptb.de
#   - ptbtime2.ptb.de
#   - ptbtime3.ptb.de

# DNS server
# If you do not use DHCP to configure the network, you can uncomment the
# following section to configure DNS servers manually. The defaults given
# here are the public DNS servers provided by Google.
# dns_servers:
#   - 8.8.8.8
#   - 8.8.4.4

# External syslog servers
# When one ore more syslog_servers are configured, all nodes will send their
# syslogs to these servers.
# syslog_servers:
#   - 10.0.11.10
#   - 10.0.11.11

# Vault SSL certificate lifetime TTL
# Upon a new installation, a SSL certificate is issued for Vault connections.
# The default TTL of this is 2 years (17532 hours) and is formatted as 17532h.
# To override this default value, uncomment the variable below and set your
# preferred TTL in hours, appended with "h" at the end.
# vault_certificate_ttl: 17532h

##############################################################################
## APPLICATION
##############################################################################

# The Teamwire server version. During initial installation, prod is the
# latest available version, when updating, you'll be supplied with a specific
# version tag.
version: prod

# Allow users that were not invited or imported by CSV to register on this
# server. Please note that this only configures the default for newly created
# organisations; the default configuration can be changed by an administrator.
allow_unknown_users: no

# Allow users to be found with the user search by users of other organisations.
# Please note that this only configures the default setting for newly created
# organisations; the default configuration can be changed by an administrator.
allow_user_query: no

# You've received a certificate file with your other credentials. Copy
# the file to this virtual machine and give the full path to it here,
# e.g. "/home/teamwire/example.pem".
# When you have resigned the app with your corporate certificate, use
# the matching APNS certificate instead.
apns_certificate:

# When you have resigned the app with your corporate certificate, enter the
# new app id below and uncomment the line.
# apns_appid:

# To run the stock Teamwire App from AppStore along a resigned app, you can
# configure the APNS certificate and the coresponding App ID with the following
# setting.
# apns_certificate_2:
# apns_appid_2:

# When you want to install your SSL certificate on the backend server, uncomment
# the following keys and add the full paths to the key file and the certificate
# files. When you configure these values, unencrypted access to the backend
# (i.e. access via the HTTP protocol on port 80) will be disabled.
# ssl_server_certificate:
# ssl_intermediate_certificate:
# ssl_root_certificate:
# ssl_keyfile:

##############################################################################
## FILE STORAGE
##############################################################################

# If you use more that one backend server or you want to store the persistent
# files externally, please specify the path of the NFS export where the files
# shared between the backends shall be stored.
# external_storage_path:

# Set the NFSv4 ID mapping domain, if it differs from FQDN minus hostname
# idmap_domain:

##############################################################################
## DATABASE
##############################################################################

# Define the database user name. Defaults to 'teamwire'.
# teamwire_db_user: teamwire

# Define the database name. Defaults to 'teamwire'.
# teamwire_db_name: teamwire

# If you don't want to run the MySQL server on this machine, you can set these
# values to the settings that point to your external MySQL server.
# In this case you'll need to create the  user defined with teamwire_db_user on
# that DB with the password given above and enable access from this host.
#
# You can safely ignore this setting when you've configured a clustered database.
# mysql_host:
# mysql_port:

# When using an Oracle database, uncomment the following lines and add the
# values matching your setup.
# oracle_host:
# oracle_port: 1521

##############################################################################
## MAIL
##############################################################################

# The email domain, e.g. "example.com"
domain:

# The sender address of the emails sent by the application when a user or
# administrator registers, e.g. "Example TWAdmin <teamwire@example.com>".
sender_address:

# Configure the SMTP server that handles outgoing mail
#
# The name of the outgoing mail server, e.g. "mail.example.com"
smtp_smarthost:

# The credentials (user name and password) for the outgoing mail server -
# if you do not set these values authentication will be disabled.
smtp_smartuser:

# The port to connect to. Defaults to 587 (submission)
smtp_port: 587

# Enable TLS. Defaults to yes.
smtp_use_tls: yes

# Forward system mails to external email address, e.g. "admin@example.com"
system_email_recipient:

##############################################################################
## MONITORING
##############################################################################
# To enable on-premise monitoring, please uncomment and set enable_monitoring
# to true. If running a cluster-setup, please specify the monitoring node in the
# cluster_hosts file, under the monitoring group. The monitoring system requires
# MySQL and doesn't currently support other database types.

# enable_monitoring: yes

# Please uncomment and enter the email addresses which you'd like to receive
# monitoring alerts to. At least 1 entry is required.
# monitoring_email_addresses:
#   - admin@example.com
#   - admin2@example.com

# Define the database user name.
#monitoring_db_user: monitor

# Define the monitoring database name.
# monitoring_db_name: monitor

# Define the monitoring web interface database username.
# monitoring_db_web_user: monitor_web

# Define the monitoring web interface database name.
# monitoring_db_web_name: monitor_web

##############################################################################
## DEBUGGING
##############################################################################

# Do not enable any of these parameters unless you know what you are doing

# Do not generate PINs but use a predefined value
# fake_pin: true

# Do not send SMS with the registration PIN
# fake_sms: true

# Use a predefined device confirmation URL in the email confirmation
# fake_email_confirmation: true

# do not encrypt the database
# fake_db_encryption: true

# Notification service log level
# notification_loglevel: debug
