---
# Copy this file to "all" and add values for the parameters.
# When a value contains a colon (:), it must be enclosed in double quotes.
#
# Uncomment the following line when you are finished setting all configuration
# items, only then the configuration can be performed.
# config_done: true

# Insert your Docker Hub credentials below
dockerhub_username:
dockerhub_password:
dockerhub_email:

# The external fully qualified host name under which the clients can access
# this server, e.g. teamwire.example.com
external_hostname:

##############################################################################
## APPLICATION
##############################################################################

# You'll receive this key with your other credential.
gcm_api_key:

# You'll receive a certificate file with your other credentials.
# Copy this file to the machine running ansible and give the full path here.
apns_certificate:

##############################################################################
## DATABASE
##############################################################################

# Define the MySQL user passwords
teamwire_db_password: teamwire

# Define the database encryption key
aes_key:

##############################################################################
## MAIL
##############################################################################

# The email domain, e.g. example.com
domain:

# Configure the SMTP server that handles outgoing mail
#
# The name of the outgoing mail server, e.g. mail.example.com
smtp_smarthost:
# The credentials (user name and password) for the outgoing mail server
smtp_smartuser:
smtp_smartpass:
