*** WARNING: PLEASE MAKE SURE TO SAVE THESE DETAILS LOCALLY ***

Your Vault root token is:
{{ vault_token }}

Your Vault unseal keys are:
{% for vault_key in vault_keys %}
{{ vault_key }}
{% endfor %} 

* Please distribute the root token and unseal keys to the relevant members of your team.
* A team member should have access to at least 2 unseal keys, so they can unseal the vault.
* Ideally, a single team member should not have access to all 6 unseal keys.

*** PLEASE BE SURE TO REMOVE THIS FILE ONCE THE DETAILS HAS BEEN SAVED EXTERNALLY TO THIS SERVER ***
