vault {
  enabled = true
  ca_file = "/usr/local/share/ca-certificates/vault-rootCA.crt"
  cert_file = "/var/lib/vault/ssl/vault.crt"
  key_file = "/var/lib/vault/ssl/vault.pem"
  address  = "https://vault.service.consul:8200"
{% if inventory_hostname in groups['consul_servers'] %}
  token = "{{ vault_nomad_token.auth.client_token }}"
  create_from_role = "nomad-cluster"
{% endif %}
}
