vault {
  enabled = true
  cert_file = "/var/lib/vault/ssl/vault.crt"
  key_file = "/var/lib/vault/ssl/vault.pem"
  address  = "https://127.0.0.1:8200"
{% if inventory_hostname in groups['consul_servers'] %}
  token = "{{ vault_nomad_token.auth.client_token }}"
  create_from_role = "nomad-cluster"
{% endif %}
}
