#!/bin/bash

CHECKMK_AGENT_REGISTRATION_SECRET=$(sudo cat /opt/omd/sites/{{ checkmk_site }}/var/check_mk/web/agent_registration/automation.secret)

cat <<EOF
{
    "agent_registration_secret" : "$CHECKMK_AGENT_REGISTRATION_SECRET"
}
EOF
