CONFIG_ADMIN_MAIL=''
CONFIG_AGENT_RECEIVER='{{ checkmk_agent_reciever | default("on") }}'
CONFIG_AGENT_RECEIVER_PORT='{{ checkmk_agent_reciever_port | default("5665") }}'
CONFIG_APACHE_MODE='{{ checkmk_apache_mode | default ("own") }}'
CONFIG_APACHE_TCP_ADDR='{{ checkmk_apache_tcp_addr | default("127.0.0.1") }}'
CONFIG_APACHE_TCP_PORT='{{ checkmk_apache_tcp_port | default("8001") }}'
CONFIG_AUTOSTART='{{ checkmk_autostart | default("on") }}'
CONFIG_CORE='{{ checkmk_core | default("nagios") }}'
CONFIG_LIVESTATUS_TCP='{{ checkmk_livestatus_tcp | default("off") }}'
CONFIG_LIVESTATUS_TCP_ONLY_FROM='{{ checkmk_livestatus_tcp_only_from | default("0.0.0.0 ::/0") }}'
CONFIG_LIVESTATUS_TCP_PORT='{{ checkmk_livestatus_tcp_port | default("6557") }}'
CONFIG_LIVESTATUS_TCP_TLS='{{ checkmk_livestatus_tcp_tls | default("on") }}'
CONFIG_MKEVENTD='{{ checkmk_mkeventd | default("on") }}'
CONFIG_MKEVENTD_SNMPTRAP='{{ checkmk_mkeventd_snmptrap | default("off") }}'
CONFIG_MKEVENTD_SYSLOG='{{ checkmk_mkeventd_syslog | default("off") }}'
CONFIG_MKEVENTD_SYSLOG_TCP='{{ checkmk_mkeventd_syslog_tcp | default("off") }}'
CONFIG_MULTISITE_AUTHORISATION='{{ checkmk_multisite_authorisation | default("on") }}'
CONFIG_MULTISITE_COOKIE_AUTH='{{ checkmk_multisite_cookie_auth | default("on") }}'
CONFIG_PNP4NAGIOS='{{ checkmk_pnp4nagios | default("on") }}'
CONFIG_TMPFS='{{ checkmk_tmpfs | default("on") }}'
CONFIG_AUTOMATION_HELPER='off'
