# Remove APT repository signing keys from global trust anchor
# as otherwise those keys are unconditionally trusted
# https://wiki.debian.org/DebianRepository/UseThirdParty
#

- name: Remove repository signing keys from global trust anchor
  command: gpg --batch --yes --keyring /etc/apt/trusted.gpg --delete-key {{ item.key_id }}
  register: remove_signing_key
  changed_when: remove_signing_key.rc == 0
  # Return codes
  # 0 - Key has been found in keyring and successfully removed
  # 2 - No key with specified ID has been found
  #     (which is ok as it's not expected that all the keys below have been added)
  failed_when: remove_signing_key.rc == 1 or remove_signing_key.rc > 2
  loop:
    - repo_url: download.docker.com
      key_id: 9DC858229FC7DD38854AE2D88D81803C0EBFCD88
    - repo_url: packages.icinga.com
      key_id: F51A91A5EE001AA5D77D53C4C6E319C334410682
    - repo_url: repo.percona.com
      key_id: 9334A25F8507EFA5