# Remove APT packages that are no longer needed
#

- name: Remove unneeded packages
  apt:
    name:
      - glances
      - gnupg1
      - hatop
      - tshark
      - tcpdump
      - ldap-utils
      - telnet
    state: absent
