### Localization
d-i debian-installer/locale string en_US
d-i keyboard-configuration/xkb-keymap select us

### Network configuration
d-i debian-installer/add-kernel-opts string net.ifnames=0
d-i netcfg/choose_interface select eth0
d-i netcfg/get_hostname string localhost
d-i netcfg/get_domain string localdomain

### Mirror settings
d-i mirror/country string manual
d-i mirror/http/hostname string ftp.hosteurope.de
d-i mirror/http/directory string /mirror/ftp.debian.org/debian/
d-i mirror/http/proxy string

### Account setup
d-i passwd/root-login boolean false
d-i passwd/user-fullname string Teamwire Server VM adminstrator
d-i passwd/username string teamwire
d-i passwd/user-password-crypted password $6$KeVShWp1V4.TC$Qkx3cvivHD2cd2szK9/ewOK2372SsJm/qwtwcyXZVCE/ITV3ydKdX6nZZJubRc5vyNjUHVXSOdalPXrPsrpG81

### Clock and time zone setup
d-i clock-setup/utc boolean true
d-i time/zone string UTC
d-i clock-setup/ntp boolean false

### Partitioning
d-i partman-auto/method string lvm
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-auto/choose_recipe select atomic
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

### Base system installation
d-i base-installer/install-recommends boolean false

### Apt setup
d-i apt-setup/cdrom/set-first boolean false
d-i apt-setup/cdrom/set-next boolean false
d-i apt-setup/cdrom/set-failed boolean false
d-i apt-setup/services-select multiselect security, updates
d-i apt-setup/security_host string security.debian.org

### Package selection
tasksel tasksel/first multiselect standard
d-i pkgsel/include string apt-transport-https openssh-server ntp sudo python-setuptools python-pip
d-i pkgsel/upgrade select full-upgrade
popularity-contest popularity-contest/participate boolean false

### Boot loader installation
d-i grub-installer/only_debian boolean true
d-i grub-installer/bootdev string default

### Finishing up the installation
d-i finish-install/reboot_in_progress note

### Running custom commands during the installation
# Enable the teamwire user to use sudo without password & rename network interface
d-i preseed/late_command string \
		in-target pip install ansible==2.4.2.0 ; \
		in-target usermod -a -G sudo teamwire ; \
		in-target cp /etc/sudoers /etc/sudoers.orig ; \
		in-target sed -i -e 's/%sudo\sALL=(ALL:ALL)\sALL/%sudo ALL=NOPASSWD: ALL/' /etc/sudoers ; \
		in-target mkdir /home/teamwire/.ssh ; \
		in-target /bin/sh -c "echo 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC88fCuoWcZnoYsIYRVZ7/xqrYgF89QBU8VHejEcLelrtr+xCOaRygQ7zRInR+Ubfk9QSwB6Pk6iYt5DAedfAQm2Xt3Ne1Y0dc92gNd0k2E21YeLois3WhBJOIaFZTxi/CU1SBJcYfzRxYG/CgwvFw/1pirFih2aN31Cle8Wb68jlKDG2gR3QeRB7iaOZJYwJBfIYYV0EB4SITkKMfZfyyK5bOZNxDDuAyQfa3aDBMQ6PWFk6/TBjMx7dTz/kUvGIxcYD+Ndq+fMZpT/U+FOHyLTIEiH4SEJyipIupGzKVx2W62d3OOzqUnsrOLHtaRNQUtHloplttxc5Jb31eis9gp Teamwire Server VM Admin User' > /home/teamwire/.ssh/authorized_keys" ; \
		in-target chown -R teamwire: /home/teamwire/.ssh ; \
		in-target chmod -R go-rwx /home/teamwire/.ssh ; \
		in-target sed -i "s/ens[[:digit:]]\+/eth0/g" /etc/network/interfaces
