[Service]
NoNewPrivileges=true
ProtectHome=true
PrivateTmp=true
PrivateDevices=true
ProtectClock=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
LockPersonality=true
MemoryDenyWriteExecute=true
RestrictRealtime=true
RestrictSUIDSGID=true
RestrictAddressFamilies=AF_UNIX AF_INET
RestrictNamespaces=true
SystemCallArchitectures=native
CapabilityBoundingSet=CAP_CHOWN CAP_SETGID CAP_SETUID
AmbientCapabilities=
SystemCallFilter=~@module @mount @reboot @swap @raw-io @obsolete @debug @cpu-emulation
RemoveIPC=true
PrivateUsers=true
ProtectSystem=strict
ReadWritePaths=/var/lib/mysql /var/log/mysql /etc/mysql /tmp {{ "/var/lib/mysql-binlog" if "database_servers" not in groups }}
ProtectProc=invisible
ProcSubset=pid
ProtectControlGroups=yes
DevicePolicy=strict
DeviceAllow=/dev/null rwm
DeviceAllow=/dev/urandom r
DeviceAllow=/dev/random r
DeviceAllow=/dev/tty r
UMask={{ "0077" if "database_servers" not in groups else "0027" }}
