[Service]
NoNewPrivileges=true
ProtectHome=true
PrivateTmp=true
PrivateDevices=true
ProtectClock=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
LockPersonality=true
RestrictRealtime=true
RestrictSUIDSGID=true
RestrictAddressFamilies=AF_UNIX
RestrictNamespaces=true
SystemCallArchitectures=native
CapabilityBoundingSet=
AmbientCapabilities=
SystemCallFilter=@system-service @basic-io @io-event @file-system @signal
RemoveIPC=true
ProtectSystem=strict
ReadWritePaths=/run /var/log /var/run /var/lib /boot
ProtectProc=invisible
ProcSubset=pid
ProtectControlGroups=yes
DevicePolicy=strict
DeviceAllow=/dev/null rwm
DeviceAllow=/dev/urandom r
DeviceAllow=/dev/random r
UMask=0022
