{# We need to override the default forwarding template that rsyslog
   uses, as the max tag character size is 32 #}
# Forwarding template
template(name="LongTagForwardFormat" type="list") {
    constant(value="<")
    property(name="pri")
    constant(value=">")
    property(name="timestamp" dateFormat="rfc3339")
    constant(value=" ")
    property(name="hostname")
    constant(value=" ")
    property(name="syslogtag")
    property(name="msg" spifno1stsp="on")
    property(name="msg")
}

# Remote log hosts
{% for log_target in syslog_servers|default([]) | union(groups.loghost|default([])) %}
action(
    name="remote_logging_on_{{ log_target | replace('.', '_') }}"
    type="omfwd"
{# We'll look up the IP addres of servers in the loghost group,
   otherwise we use the address supplied in the syslog_servers array #}
    target="{{ hostvars[log_target].private_ip if log_target in hostvars else log_target }}"
    protocol="tcp"
    port="514"
    template="LongTagForwardFormat"
)
{% endfor %}
