# Remote log hosts
{% for host in groups.loghost %}
action(
    name="remote_logging_on_{{ host }}"
    type="omfwd"
    target="{{ hostvars[host].private_ip }}"
    protocol="tcp"
    port="514"
)
{% endfor %}
