{{ smtp_smarthost }} smtp --port={{ smtp_port | default('587') }} {% if (smtp_port | default('587')) == "465" and ( smtp_use_tls | default('true') | bool ) %}--tls{% else %}{% if ( smtp_use_tls | default('true') | bool ) %}--starttls{% endif %}{% endif %} {% if smtp_smartuser is defined and smtp_smartuser !="" and smtp_smartpass is defined %}--user={{ smtp_smartuser }} --pass="{{ smtp_smartpass }}"{% endif %}
