# See chapter 3.4 - technische Richtlinie BSI-TR-02102-4.pdf
# Mac ciphers currently not supported ( AEAD_AES_128_GCM, AEAD_AES_256_GCM )
Ciphers {{ ssh_ciphers }}

# CIS - BENCHMARK ID: 2656 cis: 5.2.14
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,hmac-sha2-512,hmac-sha2-256

KexAlgorithms sntrup761x25519-sha512@openssh.com,curve25519-sha256@libssh.org,ecdh-sha2-nistp521,ecdh-sha2-nistp384,ecdh-sha2-nistp256,diffie-hellman-group-exchange-sha256
