library "db_ido_mysql"

object IdoMysqlConnection "ido-mysql" {
  user = "{{ monitoring_db_user }}",
  password = "{{ monitoring_db_password }}",
  host = "{{ monitoring_db_host }}",
  port = "{{ monitoring_db_port }}",
  database = "{{ monitoring_db_name }}"
{% if groups['all'] | length > 1 and enable_tls_mysql is defined and enable_tls_mysql | lower == "true" %}
  enable_ssl = true
  ssl_ca = "/etc/mysql/ssl/intermediate_and_root.pem"
{% endif %}

cleanup = {
  acknowledgements_age = 90d
  commenthistory_age = 90d
  contactnotifications_age = 90d
  contactnotificationmethods_age = 90d
  downtimehistory_age = 90d
  eventhandlers_age = 90d
  externalcommands_age = 90d
  flappinghistory_age = 90d
  hostchecks_age = 90d
  logentries_age = 90d
  notifications_age = 90d
  processevents_age = 90d
  statehistory_age = 90d
  servicechecks_age = 90d
  systemcommands_age = 90d
}
}
