/*
 * Endpoint and Zone configuration for a cluster setup
 */

object Endpoint NodeName {
  host = NodeName
}

object Zone ZoneName {
  endpoints = [ NodeName ]
{% if groups['all'] | length() > 1 %}  
{% if inventory_hostname != groups.monitoring | sort | first %}
  parent = "{{ groups.monitoring | sort | first }}"
{% endif %}
{% endif %}
}

{% if groups['all'] | length() > 1 %}  
{% if inventory_hostname == groups.monitoring | sort | first %}
{% for host in groups.all | difference([inventory_hostname]) %}
object Endpoint "{{ host }}" {
  host = "{{ hostvars[host].private_ip }}"
}

object Zone "{{ host }}" {
  endpoints = [ "{{ host }}" ]
  parent = "{{ groups.monitoring | sort | first }}"
}

{% endfor %}
{% else %}
object Zone "{{ groups.monitoring | sort |  first }}" {
  endpoints = [ "{{ groups.monitoring |sort |  first }}" ]
}

object Endpoint "{{ groups.monitoring | sort | first }}" {
  host = "{{ hostvars[groups.monitoring | sort | first].private_ip }}"
}
{% endif %}
{% endif %}
/*
 * Defines a global zone containing templates,
 * etc. synced to all nodes, if they accept
 * configuration. All remote nodes need
 * this zone configured too.
 */

object Zone "global-templates" {
  global = true
}
