[mysqld]
# Disable symbolic link support
skip-symbolic-links
# Dont expose list of databases
skip-show-database
# disable all LOAD DATA LOCAL statements
local-infile=0
# Disable pre 4.1 passwords and privilege tables
secure-auth
# Don't allow user creation when user has no write access to user table
safe-user-create
