[Service]
ExecStart=
ExecStart=/usr/bin/dockerd -H unix:// --userland-proxy=false
{%- if 'docker_registry' in groups %}
{%- for host in groups.docker_registry %}
 --registry-mirror http://{{ host }}:5000 --insecure-registry {{ host }}:5000
{%- endfor %}
{%- endif %}
{%- if 'consul_servers' in groups %}
{%- for host in groups['consul_servers'] %}
 --dns {{ hostvars[host].private_ip }}{% endfor %}
{%- endif %}
