[Unit]
Description=Logspout Container
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
KillMode=none
Restart=always
RestartSec=10
EnvironmentFile=/etc/default/%p
ExecStartPre=/usr/bin/docker pull {{ logspout_version }}
ExecStartPre=/usr/bin/docker create --name %p \
    -e SYSLOG_TAG=${SYSLOG_TAG} -e SYSLOG_HOSTNAME=${SYSLOG_HOSTNAME} \
    -v /var/run/docker.sock:/tmp/docker.sock {{ logspout_version }} \
    syslog://{{ hostvars[groups.loghost | first].private_ip | ipaddr('address') }}:514
ExecStart=/usr/bin/docker start -a %p
ExecStop=/usr/bin/docker stop -t 2 %p
ExecStopPost=/usr/bin/docker rm -f %p
[Install]
WantedBy=multi-user.target
