---
- name: Ensure aes_key is configured before setting up containers
  fail: msg="AES key is not defined. Please check the configuration file"
  when: config_done is defined and aes_key is defined and aes_key == None

- name: Set Teamwire DB user from deprecated oracle_user config setting
  set_fact:
    teamwire_db_user: "{{ oracle_user }}"
  when: oracle_user is defined

- debug: msg="Usage of oracle_user is deprecated, please set teamwire_db_user"
  when: oracle_user is defined

- name: Configure default Teamwire DB user name
  set_fact:
    teamwire_db_user: teamwire
  when: teamwire_db_user is not defined

- name: Set Teamwire DB name from deprecated oracle_database config setting
  set_fact:
    teamwire_db_name: "{{ oracle_database }}"
  when: oracle_database is defined

- debug: msg="Usage of oracle_database is deprecated, please set teamwire_db_name"
  when: oracle_database is defined

- name: Configure default Teamwire DB name
  set_fact:
    teamwire_db_name: teamwire
  when: teamwire_db_name is not defined

- name: Determine MariaDB host (local)
  set_fact:
    mysql_host: "127.0.0.1"
  when: mysql_host is not defined and 'database_servers' not in groups and oracle_host is not defined

- name: Determine MariaDB host (Single MariaDB server)
  set_fact:
    mysql_host: "{{hostvars[groups['database_servers'][0]].private_ip}}"
  when: mysql_host is not defined and 'database_servers' in groups and groups['database_servers'] | length == 1

- name: Determine MariaDB host (Galera cluster)
  set_fact:
    mysql_host: "127.0.0.1"
  when: mysql_host is not defined and 'database_servers' in groups and groups['database_servers'] | length > 1

- name: Determine MariaDB port (local)
  set_fact:
    mysql_port: 3306
  when: mysql_port is not defined and 'database_servers' not in groups and oracle_host is not defined

- name: Determine MariaDB port (Single MariaDB server)
  set_fact:
    mysql_port: 3306
  when: mysql_port is not defined and 'database_servers' in groups and groups['database_servers'] | length == 1

- name: Determine MariaDB port (Galera cluster)
  set_fact:
    mysql_port: 3307
  when: mysql_port is not defined and 'database_servers' in groups and groups['database_servers'] | length > 1

- name: Check if installing offline
  stat: path=/etc/offline_installation
  register: offline_mode

- name: Ensure Redis servers are defined
  fail: msg="Redis servers aren't defined. Please check the cluster_hosts file"
  when: groups['all'] | length() > 1 and config_done is defined and 'redis_servers' not in groups
