vrrp_script chk_nginx {
        script "/usr/bin/killall -0 nginx"
        interval 2
        weight -2
}

vrrp_instance VI_1 {
    state {{ 'MASTER' if inventory_hostname == groups['load_balancers'][0] else 'BACKUP' }}
    interface {{ ansible_default_ipv4.address | addr_to_if(hostvars[inventory_hostname]) }}
    virtual_router_id 51
    priority {{ '101' if inventory_hostname == (groups.load_balancers | first) else '100' }}
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass {{ loadbalancer_password }}
    }
    virtual_ipaddress {
        {{ loadbalancer_external_ip }}
    }
    track_script {
        chk_nginx
    }
}
