module(load="imtcp")
input(type="imtcp" port="514" ruleset="remote")

template(name="PerServiceDockerLog" type="list") {
    constant(value="/var/log/cluster/")
    property(name="syslogtag" securepath="replace" \
            regex.expression="\\(.*\\)\\[" regex.submatch="1")
    constant(value=".log")
}

template(name="PerHostLog" type="list") {
    constant(value="/var/log/cluster/")
    property(name="hostname" securepath="replace")
    constant(value=".log")
}

ruleset(name="remote") {
    if $syslogfacility-text == 'local6' then ?PerServiceDockerLog
    else ?PerHostLog
}
