{
	"data_dir": "/var/lib/consul",
	"advertise_addr": "{{ private_ip }}",
	"client_addr": "0.0.0.0",
	"ui": true,
	"retry_join": [ {% for srv in groups['hashi_servers'] %}"{{ srv }}"{% if not loop.last %}, {% endif %}{% endfor %} ],
	"rejoin_after_leave": true,
	"leave_on_terminate": false,
	"dns_config": {
		"allow_stale": true,
		"max_stale": "10s",
		"only_passing": true,
		"service_ttl": {
			"*": "2s"
		}
	},
	"enable_syslog": true,
	"disable_update_check": true,
	"disable_remote_exec": true,
	"enable_script_checks": false,
	"enable_local_script_checks": true
}
