{
  "service": {
    "id": "redis-{{ item }}",
    "name": "redis",
    "tags": ["{{ item }}"],
    "port": {{ redis_instances[item].server_port }},
    "checks": [
      {
        "args": ["/bin/bash", "-c", "/etc/consul.d/scripts/check-redis-{{ item }}.sh"],
        "interval": "3s"
      }
    ]
  }
}
