CLUSTER_NODES=({% for host in groups['redis_servers'] -%}{{ host }} {% endfor %})
REDIS_PASS="{{ redis_pass | default() }}"
REDIS_PORT=6379
REDIS_BINDIP="{{ private_ip | ipaddr('address') }}"
DOCKER_IMAGE="redis:3.2.3-alpine"
SERVICE_NAME="teamwire"
