bind {{ private_ip }} 127.0.0.1 ::1
port {{ redis_instances[item[1]].sentinel_port }}

daemonize yes
pidfile /var/run/redis/redis-sentinel-{{ item[1] }}.pid
loglevel notice
logfile /var/log/redis/redis-sentinel-{{ item[1] }}.log

sentinel monitor {{ item[1] }} {{ groups['redis_servers'] | first }} {{ redis_instances[item[1]].server_port }} {{ (groups['redis_servers'] | length) - 1 }}
sentinel down-after-milliseconds {{ item[1] }} 5000
sentinel failover-timeout {{ item[1] }} 30000

{% if redis_instances[item[1]].password != "" %}
masterauth {{ redis_instances[item[1]].password }}
sentinel auth-pass {{ item[1] }} {{ redis_instances[item[1]].password }}
{% endif %}
