#!/bin/bash

SCHEME=http
HOST=localhost
PORT=4646
VERSION=v1
ENDPOINT=allocations
URI="${SCHEME}://${HOST}:${PORT}/${VERSION}/${ENDPOINT}"

# Set job and container
JOB_NAME="{% if tw_environments.voip01 is defined %}{{ tw_environments.voip01 + '-voip' }}{% else %}voip{%endif%}"
GROUP_NAME="voip-prosodys"

# Fetch container allocation ID as bash array
allocations=($(curl -s ${URI} | jq -r ".[] | select ( (.Name | contains( \"${JOB_NAME}.${GROUP_NAME}\" )) and (.ClientStatus | contains( \"running\" ))) | .ID"))

# Execute command on first element of array
nomad alloc exec ${allocations[0]} prosodyctl --config /config/prosody.cfg.lua $@