job "voip" {

    meta {
        jitsi_version = "{{ voip_jitsi_version }}"
        root_path     = "{{ voip_root_path }}"
    }

    # Specify the datacenters within the region this job can run in.
    datacenters = ["dc1"]

    # Priority controls our access to resources and scheduling priority.
    # This can be 1 to 100, inclusively, and defaults to 50.
    priority = 100

    constraint {
        attribute = "${attr.kernel.name}"
        value = "linux"
    }

    # Configure the job to do rolling updates
    update {
        # Stagger updates every 10 seconds
        stagger = "10s"

        # Update a single task at a time
        max_parallel = 1
    }

    vault {
        policies = ["nomad-job"]
        change_mode = "restart"
    }

    group "voip-webs" {
        count = 1

        constraint {
            operator = "distinct_hosts"
            value    = "true"
        }

        constraint {
            attribute = "${meta.groups}"
            operator = "regexp"
            value = "voip_servers"
        }

        restart {
            interval = "5m"
            attempts = 10
            delay    = "25s"
            mode     = "delay"
        }

        network {
            mode = "host"
            port "http" {
                static = "{{ nginx_http_port }}"
            }
        }

        task "voipWeb" {
            driver = "docker"

            config {
                image = "{{ local_registry | default() }}{{ 'harbor.teamwire.eu/' if use_teamwire_registry | default('true') | bool }}{{ voip_container_web }}:{{ voip_jitsi_version }}"
                auth {
                    username = "{{ docker_registry_username }}"
                    password = "{{ docker_registry_password }}"
                }

                # Although group-level networking is set to "host"
                # Docker-specific networking setting is required
                # https://github.com/hashicorp/nomad/issues/8747
                network_mode = "host"

                logging {
                    type = "syslog"
                    config {
                        tag = "teamwire-web"
                        syslog-facility = "local6"
                    }
                }
            }

            service {
                name = "${TASK}"
                tags = ["voip_servers","voip","${TASK}"]
                port = "http"
            }

            env {
                ENABLE_XMPP_WEBSOCKET           = "0"
                EXTERNAL_HOSTNAME               = "{{ external_hostname | first if external_hostname | first | length() > 1 else external_hostname }}"
                TZ                              = "UTC"
                XMPP_AUTH_DOMAIN                = "auth.meet.jitsi"
                XMPP_BOSH_URL_BASE              = "http://voipProsody.service.consul:5280"
                XMPP_DOMAIN                     = "meet.jitsi"
                XMPP_GUEST_DOMAIN               = "guest.meet.jitsi"
                XMPP_MUC_DOMAIN                 = "muc.meet.jitsi"
                XMPP_RECORDER_DOMAIN            = "recorder.meet.jitsi"
                ENABLE_AUTH                     = "1"
                ENABLE_GUESTS                   = "0"
                S6_BEHAVIOUR_IF_STAGE2_FAILS    = 2
            }

            resources {
                cpu    = 300
                memory = 200
            }
        }
    }

    group "voip-prosodys" {
        count = 1

        constraint {
            operator = "distinct_hosts"
            value    = "true"
        }

        constraint {
            attribute = "${meta.groups}"
            operator = "regexp"
            value = "voip_servers"
        }

        restart {
            interval = "5m"
            attempts = 10
            delay    = "25s"
            mode     = "delay"
        }

        network {
            mode = "host"
        }

        task "voipProsody" {
            driver = "docker"

            config {
                image = "{{ local_registry | default() }}{{ 'harbor.teamwire.eu/' if use_teamwire_registry | default('true') | bool }}{{ voip_container_prosody }}:{{ voip_jitsi_version }}"
                auth {
                    username = "{{ docker_registry_username }}"
                    password = "{{ docker_registry_password }}"
                }

                # Although group-level networking is set to "host"
                # Docker-specific networking setting is required
                # https://github.com/hashicorp/nomad/issues/8747
                network_mode = "host"

                logging {
                    type = "syslog"
                    config {
                        tag = "teamwire-prosody"
                        syslog-facility = "local6"
                    }
                }
                volumes      = [
                    "{{ voip_root_path }}/prosody/config:/config:Z",
                    "{{ voip_root_path }}/prosody/prosody-plugins-custom:/prosody-plugins-custom:Z"
                ]
            }

            service {
                name = "${TASK}"
                tags = ["voip_servers","voip","${TASK}"]
            }
{% raw %}
            template {
                data = <<EOH
                    JVB_AUTH_PASSWORD       = "{{ with secret "secret/voip/jvb_password"}}{{.Data.value}}{{end}}"
                    JIBRI_XMPP_PASSWORD     = "{{ with secret "secret/voip/jibri_password"}}{{.Data.value}}{{end}}"
                    JICOFO_AUTH_PASSWORD    = "{{ with secret "secret/voip/jicofo_password"}}{{.Data.value}}{{end}}"
                    JWT_APP_SECRET          = "{{ with secret "secret/voip/jwt_app_secret" }}{{.Data.value}}{{end}}"
                    PROSODY_KEY             = "{{ with secret "secret/voip/prosody_key" }}{{.Data.value}}{{end}}"
{%- endraw %}
{%- if enable_stun is defined  and enable_stun |lower == "true" %}
{%- raw %}
                    TURN_CREDENTIALS        = "{{ with secret "secret/voip/stun_password" }}{{.Data.value}}{{end}}"
{%- endraw %}
{%- endif %}
{%- raw %}
                EOH
                destination = "secrets/file.env"
                env      = true
            }
{% endraw %}

            env {
                ENABLE_XMPP_WEBSOCKET           = 0
                EXTERNAL_HOSTNAME               = "{{ external_hostname | first if external_hostname | first | length() > 1 else external_hostname }}"
                XMPP_DOMAIN                     = "meet.jitsi"
                XMPP_AUTH_DOMAIN                = "auth.meet.jitsi"
                XMPP_GUEST_DOMAIN               = "guest.meet.jitsi"
                XMPP_MUC_DOMAIN                 = "muc.meet.jitsi"
                XMPP_INTERNAL_MUC_DOMAIN        = "internal-muc.meet.jitsi"
                XMPP_MODULES                    = ""
                XMPP_MUC_MODULES                = "tw_backend"
                XMPP_INTERNAL_MUC_MODULES       = ""
                XMPP_RECORDER_DOMAIN            = "recorder.meet.jitsi"
                JICOFO_AUTH_USER                = "focus"
                JVB_AUTH_USER                   = "jvb0"
                #JIGASI_XMPP_USER               = "jigasi"
                #JIGASI_XMPP_PASSWORD           = "4c94a9117f77b90a9d980e3622119886"
                JIBRI_XMPP_USER                 = "jibri"
                #JIBRI_RECORDER_USER            = "recorder"
                #JIBRI_RECORDER_PASSWORD        = "c473a228428986904b9a342238137ac6"
                ENABLE_AUTH                     = "1"
                ENABLE_GUESTS                   = "0"
                AUTH_TYPE                       = "jwt"
                JWT_TOKEN_AUTH_MODULE           = "token_verification"
                JWT_APP_ID                      = "teamwire"
                TZ                              = "UTC"
                S6_BEHAVIOUR_IF_STAGE2_FAILS    = 2
                {% if enable_stun is defined and enable_stun | lower == "true" -%}
                TURNS_HOST                      = "{{ stun_hostname }}"
                TURNS_PORT                      = "{{ voip_turn_port }}"
                {% endif %}
            }

            resources {
                cpu    = 300
                memory = 400
            }
        }
    }

    group "voip-jicofos" {
        count = 1

        constraint {
            operator = "distinct_hosts"
            value    = "true"
        }

        constraint {
            attribute = "${meta.groups}"
            operator = "regexp"
            value = "voip_servers"
        }

        restart {
            interval = "5m"
            attempts = 10
            delay    = "25s"
            mode     = "delay"
        }

        network {
            mode = "host"
        }

        task "voipJicofo" {
            driver = "docker"

            config {
                image = "{{ local_registry | default() }}{{ 'harbor.teamwire.eu/' if use_teamwire_registry | default('true') | bool }}{{ voip_container_jicofo }}:{{ voip_jitsi_version }}"
                auth {
                    username = "{{ docker_registry_username }}"
                    password = "{{ docker_registry_password }}"
                }

                # Although group-level networking is set to "host"
                # Docker-specific networking setting is required
                # https://github.com/hashicorp/nomad/issues/8747
                network_mode = "host"

                logging {
                    type = "syslog"
                    config {
                        tag = "teamwire-jicofo"
                        syslog-facility = "local6"
                    }
                }
                volumes = [
                    "{{ voip_root_path }}/jicofo:/config:Z"
                ]
            }

            service {
                name = "${TASK}"
                tags = ["voip_servers","voip","${TASK}"]
            }
{% raw %}
            template {
                data = <<EOH
                    JICOFO_AUTH_PASSWORD ="{{ with secret "secret/voip/jicofo_password"}}{{.Data.value}}{{end}}"
                EOH
                destination = "secrets/file.env"
                env = true
            }
{% endraw %}

            env {
                EXTERNAL_HOSTNAME               = "{{ external_hostname | first if external_hostname | first | length() > 1 else external_hostname }}"
                JICOFO_AUTH_USER                = "focus"
                JIBRI_BREWERY_MUC               = "jibribrewery"
                JIBRI_PENDING_TIMEOUT           = "90"
                JIGASI_BREWERY_MUC              = "jigasibrewery"
                JVB_BREWERY_MUC                 = "jvbbrewery"
                TZ                              = "UTC"
                XMPP_DOMAIN                     = "meet.jitsi"
                XMPP_AUTH_DOMAIN                = "auth.meet.jitsi"
                XMPP_INTERNAL_MUC_DOMAIN        = "internal-muc.meet.jitsi"
                XMPP_MUC_DOMAIN                 = "muc.meet.jitsi"
                XMPP_SERVER                     = "voipProsody.service.consul"
                ENABLE_AUTH                     = "1"
                AUTH_TYPE                       = "jwt"
                S6_BEHAVIOUR_IF_STAGE2_FAILS    = "2"
                }

            resources {
                cpu    = 300
                memory = 1024
            }
        }
    }

    group "voip-videos" {
        count = "{{ video_servers_count }}"
        constraint {
            attribute = "${meta.groups}"
            operator = "regexp"
            value = "{{ video_servers }}"
        }
        constraint {
            operator = "distinct_hosts"
            value    = "true"
        }

        restart {
            interval = "5m"
            attempts = 10
            delay    = "25s"
            mode     = "delay"
        }

        network {
            mode = "host"
            port "jvb" {
                static = "10000"
            }
        }

        task "waitfor-jicofo" {
            driver = "raw_exec"

            lifecycle {
                hook = "prestart"
            }

            config {
                command = "sh"
                args    = ["-c", "while [ $(nslookup voipJicofo.service.consul 2>&1 >/dev/null) ]; do sleep 2; done"]
            }
        }

        task "voipVideo" {
            driver = "docker"

            config {
                image = "{{ local_registry | default() }}{{ 'harbor.teamwire.eu/' if use_teamwire_registry | default('true') | bool }}{{ voip_container_jvb }}:{{ voip_jitsi_version }}"
                auth {
                    username = "{{ docker_registry_username }}"
                    password = "{{ docker_registry_password }}"
                }

                # Although group-level networking is set to "host"
                # Docker-specific networking setting is required
                # https://github.com/hashicorp/nomad/issues/8747
                network_mode = "host"

                logging {
                    type = "syslog"
                    config {
                        tag             = "teamwire-jvb"
                        syslog-facility = "local6"
                    }
                }
            }
{% raw %}
            template {
            data = <<EOH
            JVB_AUTH_PASSWORD = "{{ with secret "secret/voip/jvb_password"}}{{.Data.value}}{{end}}"
            EOH
            destination = "secrets/file.env"
            env = true
            }
{% endraw %}

            service {
                name = "${TASK}${NOMAD_ALLOC_INDEX}"
                tags = ["voip_servers","voip","${TASK}${NOMAD_ALLOC_INDEX}"]
                port = "jvb"
            }

            env {
                EXTERNAL_HOSTNAME               = "{{ external_hostname | first if external_hostname | first | length() > 1 else external_hostname }}"
                XMPP_AUTH_DOMAIN                = "auth.meet.jitsi"
                XMPP_INTERNAL_MUC_DOMAIN        = "internal-muc.meet.jitsi"
                XMPP_SERVER                     = "voipProsody.service.consul"
                JVB_BREWERY_MUC                 = "jvbbrewery"
                JVB_PORT                        = "10000"
                JVB_TCP_HARVESTER_DISABLED      = "false"
                JVB_TCP_PORT                    = "4443"
                JVB_TCP_MAPPED_PORT             = "4443"
{% if enable_stun is defined  and enable_stun |lower == "true" %}
                JVB_STUN_SERVERS                = "{{ stun_hostname }}:{{ voip_turn_port }}"
{% else %}
                JVB_STUN_SERVERS                = "meet-jit-si-turnrelay.jitsi.net:443"
{% endif %}
                TZ                              = "UTC"
                S6_BEHAVIOUR_IF_STAGE2_FAILS    = "2"
                ENABLE_COLIBRI_WEBSOCKET        = "1"
                PUBLIC_URL                      = "https://{{ external_hostname | first if external_hostname | first | length() > 1 else external_hostname }}:8443"
                JVB_WS_SERVER_ID                = "voipVideo${NOMAD_ALLOC_INDEX}.service.consul"
                JVB_AUTH_USER                   = "jvb${NOMAD_ALLOC_INDEX}"
                USERNAME                        = "jvb${NOMAD_ALLOC_INDEX}"
                MUC_NICKNAME                    = "jvb${NOMAD_ALLOC_INDEX}"
            }

            resources {
                cpu    = 900 #900
                memory = {{ VOIP_VIDEO_RAM if VOIP_VIDEO_RAM is defined and VOIP_VIDEO_RAM is integer and VOIP_VIDEO_RAM | int <= 3584 else 400}}
            }
        }
    }

{% if enable_stun is defined  and enable_stun |lower == "true" %}
    group "voip-turn" {

        count = 1

        constraint {
            operator = "distinct_hosts"
            value    = "true"
        }

        constraint {
            attribute = "${meta.groups}"
            operator = "regexp"
            value = "voip_servers"
        }


        restart {
            interval = "5m"
            attempts = 10
            delay    = "25s"
            mode     = "delay"
        }

        network {
            port "stun" {
            static = "{{ voip_turn_port }}"
            }
        }

        task "voipTurn" {
            driver = "docker"

            config {
                image = "{{ local_registry | default() }}{{ 'harbor.teamwire.eu/' if use_teamwire_registry | default('true') | bool }}{{ voip_container_turn }}:{{ voip_jitsi_version }}"

                network_mode = "host"

                logging {
                    type = "syslog"
                    config {
                            tag = "teamwire-turn"
                            syslog-facility = "local6"
                    }
                }

            mounts = [
                {
                type = "volume"
                target = "/data"
                source = "turnvol"
                }
            ]

            volumes = [
                "/data/voip/turn/config:/etc/coturn/:Z"
            ]
            }

            service {
                name = "${TASK}"
                tags = ["voip_servers","voip","${TASK}"]
                port = "stun"
            }

            resources {
                cpu    = 300
                memory = 200
            }
        }
    }
{%endif %}
}
