---
- include: ../../backend/tasks/configuration.yml

- name: Wait for nomad API port to start listening
  wait_for:
    port: 4646
  run_once: true

- name: Obtain total CPU compute power
  shell: nomad node-status -self -json | awk -F'[^0-9]*' '/cpu.totalcompute/{print $2}'
  register: cpu_calculation
  run_once: true
  changed_when: False
  check_mode: no

- name: Set facts for total CPU power (cores*frequency) on Nomad clients
  set_fact:
    core_count: "{{ ansible_processor_vcpus }}"
    total_cpu_power: "{{ cpu_calculation.stdout }}"

- name: Register docker registry with harbor
  set_fact:
    LOCAL_REGISTRY: "{{ groups['docker_registry'] | first }}:5000/harbor.teamwire.eu/docker.io/"
  when:
    - config_done is defined and 'docker_registry' in group_names
    - use_teamwire_registry is defined and use_teamwire_registry | lower() == "true"

- name: Register harbor without docker registry
  set_fact:
    LOCAL_REGISTRY: "{{ groups['docker_registry'] | first }}:5000/harbor.teamwire.eu/docker.io/"
  when:
    - config_done is defined and not 'docker_registry' in group_names
    - use_teamwire_registry is defined and use_teamwire_registry == "true"

- name: Write Teamwire cluster nomad job (w/ Vault)
  template:
    src: teamwire.nomad.j2
    dest: /data/cluster_config/teamwire.nomad
    owner: teamwire
  run_once: true
  when: ansible_local.vault is defined and ansible_local.vault.initialized == "true"

- name: Write Teamwire cluster nomad job (w/o Vault)
  template:
    src: teamwire-no-vault.nomad.j2
    dest: /data/cluster_config/teamwire.nomad
    owner: teamwire
  run_once: true
  when: ansible_local.vault is defined and ansible_local.vault.initialized != "true"
