---
- name: Hardening sshd
  block:
    - name: Editing sshd config
      lineinfile:
        dest: "/etc/ssh/sshd_config"
        regexp: "{{ item.regexp | default(omit) }}"
        line: "{{ item.line }}"
        state: "{{ item.state | default('present') }}"
        validate: "sshd -t -f %s"
      when: "{{ item.when | default('omit')}}"
      with_items:
        - line: "RSAAuthentication yes"
          state: "absent"
        # CIS - BENCHMARK ID: 2648 cis: 5.2.6
        - regexp: "^X11Forwarding\ "
          line: "X11Forwarding no"
        # CIS - BENCHMARK ID: 2649 cis: 5.2.7
        - regexp: "^#?MaxAuthTries 6"
          line: "MaxAuthTries 4"
        # CIS - BENCHMARK ID: 2656 cis: 5.2.14
        - regexp: "^MACs\ "
          line: "MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,hmac-sha2-512,hmac-sha2-256"
        # DEFAULT BY TEAMWIRE COMPLIANCE
        - regexp: "^#?Port\ "
          line: "Port 22"
        # CIS - BENCHMARK ID: 2659 cis: 5.2.17
        - regexp: "^#?LoginGraceTime 2m"
          line: "LoginGraceTime 1m"
        # CIS - BENCHMARK ID: 26663 cis: 5.2.21
        - regexp: "^AllowTcpForwarding\ "
          line: "AllowTcpForwarding no"
        # DEFAULT BY TEAMWIRE COMPLIANCE
        - regexp: "^PermitRootLogin\ "
          line: "PermitRootLogin {{ permit_root_login|lower if permit_root_login|lower == 'yes' or permit_root_login|lower == 'no' else 'prohibit-password' }}"
          when: permit_root_login != 'default'
        # DEFAULT BY TEAMWIRE COMPLIANCE
        - regexp: "^PermitEmptyPasswords\ "
          line: "PermitEmptyPasswords no"
        # DEFAULT BY TEAMWIRE COMPLIANCE
        - regexp: "^KexAlgorithms\ "
          line: "KexAlgorithms curve25519-sha256@libssh.org,ecdh-sha2-nistp521,ecdh-sha2-nistp384,ecdh-sha2-nistp256,diffie-hellman-group-exchange-sha256"
        # See chapter 3.4 - technische Richtlinie BSI-TR-02102-4.pdf
        # Mac ciphers currently not supported ( AEAD_AES_128_GCM, AEAD_AES_256_GCM )
        - line: "Ciphers aes256-cbc,aes192-cbc,aes128-cbc,aes256-ctr,aes192-ctr,aes128-ctr"
          state: present
        # DEFAULT BY TEAMWIRE COMPLIANCE
        - regexp: "^#?UseDNS\ "
          line: "UseDNS no"
      notify: Restart sshd

        # CIS - BENCHMARK ID: 2661 cis: 5.2.19 -> not compliant with teamwire
        # CIS - BENCHMARK ID: 2664 cis: 5.2.22 -> not compliant with teamwire

