REGISTRY="{{ groups['docker_registry'] | sort | first if 'docker_registry' in groups else '' }}{{ ':5000' if 'docker_registry' in groups else '' }}"
{% if 'backend_servers' in groups and groups['backend_servers'] | length > 1 %}
MYSQL_HOST="{{ hostvars[groups['backend_servers'] | sort | first].private_ip }}"
MYSQL_PORT="{{ mysql_port }}"
{% else %}
MYSQL_HOST="{{ mysql_host | default() }}"
MYSQL_PORT="{{ mysql_port | default() }}"
{% endif %}
MYSQL_DATABASE="{{ teamwire_db_name if mysql_host is defined else '' }}"
MYSQL_USER="{{ teamwire_db_user if mysql_host is defined else '' }}"
ORA_HOST="{{ oracle_host | default() }}"
ORA_PORT="{{ oracle_port | default() }}"
ORA_DATABASE="{{ teamwire_db_name if oracle_host is defined else '' }}"
ORA_USER="{{ teamwire_db_user if oracle_host is defined else '' | default() }}"
