#jinja2:trim_blocks: False
version: "2"

services:
  backend:
    image: teamwire/backend:{{ version | default('prod') }}
    restart: always
    labels:
      - com.docker.swarm.reschedule-policies=["on-node-failure"]
    network_mode: "bridge"
    ports:
      - "8080"
    volumes:
      - /data/archiving:/archiving
      - /data/assets:/assets
    logging:
      driver: "syslog"
      options:
         tag: teamwire-backend
         syslog-facility: "local6"
    environment:
      - AESKEY={{ aes_key }}
      - ARCHIVING_CONFIG=/archiving/archiving.conf
      - ARCHIVING_GPGHOME=/archiving/gpg
      - ORG_DEFAULT_ALLOW_USER_REG={{ allow_unknown_users|default('true') }}
      - MYSQL_HOST={{ mysql_host | default() }}
      - MYSQL_PORT={{ mysql_port | default() }}
      - MYSQL_DATABASE={{ teamwire_db_name if mysql_host is defined else '' }}
      - MYSQL_USER="{{ teamwire_db_user if mysql_host is defined else '' }}"
      - MYSQL_PASSWORD={{ teamwire_db_password if mysql_host is defined else '' }}
      - ORA_HOST={{ oracle_host | default() }}
      - ORA_PORT={{ oracle_port | default() }}
      - ORA_DATABASE={{ teamwire_db_name if oracle_host is defined else '' }}
      - ORA_USER={{ teamwire_db_user if oracle_host is defined else '' }}
      - ORA_PASSWORD={{ teamwire_db_password if oracle_host is defined else '' }}
      - REDIS_URI={{ redis_host }}:{{ redis_port }}:1
      - REDIS_PASSWORD={{ redis_pass|default() }}
      - EMAIL_HOST={{ ansible_docker0['ipv4']['address'] if fake_email_confirmation is not defined else '' }}
      - BLOB_DIR=/assets
      - DEFAULT_FROM_EMAIL={{ sender_address }}
      - http_proxy={{ http_proxy|default() }}
      - https_proxy={{ http_proxy|default() }}
      - SERVICE_NAME=backend
      - VERSION={{ version }}
      - FAKE_PIN={{ fake_pin|default() }}
      - FAKE_SMS={{ fake_sms|default() }}
      - FAKE_EMAIL_CONFIRMATION={{ fake_email_confirmation|default() }}
      - FAKE_DB_ENCRYPTION={{ fake_db_encryption|default() }}

  worker:
    image: teamwire/backend:{{ version | default('prod') }}
    restart: always
    labels:
      - com.docker.swarm.reschedule-policies=["on-node-failure"]
    network_mode: "bridge"
    ports:
      - "8080"
    volumes:
      - /data/assets:/assets
      - /data/certs/apns:/app/certs/apns
    logging:
      driver: "syslog"
      options:
         tag: teamwire-worker
         syslog-facility: "local6"
    environment:
      - MODE=worker
      - AESKEY={{ aes_key }}
      - MYSQL_HOST={{ mysql_host | default() }}
      - MYSQL_PORT={{ mysql_port | default() }}
      - MYSQL_DATABASE={{ teamwire_db_name if mysql_host is defined else '' }}
      - MYSQL_USER="{{ teamwire_db_user if mysql_host is defined else '' }}"
      - MYSQL_PASSWORD={{ teamwire_db_password if mysql_host is defined else '' }}
      - ORA_HOST={{ oracle_host | default() }}
      - ORA_PORT={{ oracle_port | default() }}
      - ORA_DATABASE={{ teamwire_db_name if oracle_host is defined else '' }}
      - ORA_USER={{ teamwire_db_user if oracle_host is defined else '' }}
      - ORA_PASSWORD={{ teamwire_db_password if oracle_host is defined else '' }}
      - REDIS_URI={{ redis_host }}:{{ redis_port }}:1
      - REDIS_PASSWORD={{ redis_pass|default() }}
      - NOTIFICATION_SERVER_URL=http://notification-server-9081.service.consul:9081
      - BLOBDIR=/assets
      - APNS_CERT_1=/app/certs/apns/aps-production.pem,push_production,{{ apns_appid | default('com.teamwire.messenger') }}
      - APNS_CERT_2={% if apns_certificate_2 is defined %}/app/certs/apns/{{ apns_certificate_2 | basename }},push_production,{{ apns_appid_2 }}{% endif %}
      - GCM_API_KEY={{ gcm_api_key }}
      - WNS_CLIENT_ID={{ wns_client_id|default() }}
      - WNS_CLIENT_SECRET={{ wns_client_secret|default() }}
      - http_proxy={{ http_proxy|default() }}
      - https_proxy={{ http_proxy|default() }}
      - SERVICE_NAME=worker
      - FAKE_DB_ENCRYPTION={{ fake_db_encryption|default() }}

  beat:
    image: teamwire/backend:{{ version | default('prod') }}
    restart: always
    labels:
      - com.docker.swarm.reschedule-policies=["on-node-failure"]
    network_mode: "bridge"
    volumes:
      - /data/beat:/beat
    logging:
      driver: "syslog"
      options:
         tag: teamwire-beat
         syslog-facility: "local6"
    environment:
      - MODE=beat
      - AESKEY={{ aes_key }}
      - MYSQL_HOST={{ mysql_host | default() }}
      - MYSQL_PORT={{ mysql_port | default() }}
      - MYSQL_DATABASE={{ teamwire_db_name if mysql_host is defined else '' }}
      - MYSQL_USER="{{ teamwire_db_user if mysql_host is defined else '' }}"
      - MYSQL_PASSWORD={{ teamwire_db_password if mysql_host is defined else '' }}
      - ORA_HOST={{ oracle_host | default() }}
      - ORA_PORT={{ oracle_port | default() }}
      - ORA_DATABASE={{ teamwire_db_name if oracle_host is defined else '' }}
      - ORA_USER={{ teamwire_db_user if oracle_host is defined else '' }}
      - ORA_PASSWORD={{ teamwire_db_password if oracle_host is defined else '' }}
      - REDIS_URI={{ redis_host }}:{{ redis_port }}:1
      - REDIS_PASSWORD={{ redis_pass|default() }}
      - CELERY_BEAT_SCHEDULE=/beat/celerybeat-schedule
      - FAKE_DB_ENCRYPTION={{ fake_db_encryption|default() }}

  notifications:
    image: teamwire/notification-server:{{ version | default('prod') }}
    restart: always
    labels:
      - com.docker.swarm.reschedule-policies=["on-node-failure"]
    network_mode: "bridge"
    ports:
      - "9080"
      - "9081:9081"
    logging:
      driver: "syslog"
      options:
         tag: teamwire-notifications
         syslog-facility: "local6"
    environment:
      - REDIS_URI={{ redis_host }}:{{ redis_port }}:1
      - REDIS_PASSWORD={{ redis_pass|default() }}
      - LOGLEVEL={{ notification_loglevel|default() }}

  screenshot-server:
    image: teamwire/web-screenshot-server:{{ version | default('prod') }}
    restart: always
    labels:
      - com.docker.swarm.reschedule-policies=["on-node-failure"]
    network_mode: "bridge"
    ports:
      - "8080"
    volumes:
      - /data/website-screenshot-cache:/website-screenshot-cache
    logging:
      driver: "syslog"
      options:
         tag: teamwire-screenshot-server
         syslog-facility: "local6"
    environment:
      - CACHE_DIR=/website-screenshot-cache
      - HTTP_PROXY={{ http_proxy|default() }}
