*** WARNING: PLEASE MAKE SURE TO SAVE THESE DETAILS LOCALLY ***

Your Nomad bootstrap root token is:
{{ nomad_secret_id }}

*** PLEASE BE SURE TO REMOVE THIS FILE ONCE THE DETAILS HAS BEEN SAVED EXTERNALLY TO THIS SERVER ***
